li(id='todo-' + todo.id, class={completed: todo.done === true})
  .view
    input(type="hidden" name="ids" value=todo.id)
    input(type="hidden" name="completed" value=todo.done.toString())
    input(type="hidden" name="names" value=todo.name)
    input.toggle(hx-patch='/todos/' + todo.id, type='checkbox', checked=todo.done, hx-target='#todo-' + todo.id, hx-swap="outerHTML" class="checked" _="on load set my.checked to " + todo.done)
    label(hx-get='/todos/edit/' + todo.id, hx-target="#todo-" +  todo.id, hx-swap="outerHTML") #{todo.name}
    button.destroy.fa-solid.fa-x(hx-delete='/todos/' + todo.id, _="on htmx:afterOnLoad remove #todo-" + todo.id )
